body
{
	font-size:20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	z-index:-1;
	background-color: #DADADA; 
}

#container /*glowny blok majacy za zadanie trzymanie strony w ryzach*/
{
	height:297mm;
	width:210mm;
	/* to centre page on screen*/
	margin: 20mm auto;
	border: lightgray 1px solid;
	position: relative;
	font-weight:bold;
	background-color:white; z-index: -1;	 
	box-shadow: 0 0 100px gray;
}

div#row
{
	display: inline-block;
}

#side_section
{	
	
	background-color: white;
	padding: 20px 30px;
	border: 2px solid lightgray;
	width:190px;
	height:275mm;
	float:left;	
	position:relative;
	font-size:12px;
	display: block;
	margin-left:20px;
	margin-top:20px;
}
#main_section
{
	
	display: inline-block;
	position: absolute;
	margin-left:20px;
	top:20px;
	margin-right: 20px;
}	

#main_section p
{
	font-size: 14px;
}

#main_section p, #about_me, nav>p
{
	font-family: "Cormorant Infant", Helvetica, sans-serif; /*-----------------------------------*/
	font-style:oblique;
}

#upper_background
{
	position: absolute; top: 0%; height: 50%; width: 150px; left: 0%; background: #E0EDF5; z-index: -1;
}

#bottom_background
{
	position: absolute; top: 50%; height: 50%; width: 150px; left: 0%; background: #DCDBD7; z-index: -1;
}

#side_section #photo
{
	width:120px;
	height:120px;
	display: block;
	margin:30px auto 60px auto;
}

h1
{
	letter-spacing: 0.7em;
	font-family: sans-serif;
	font-weight: 700;
}

h2
{
	font-size:20px;
	letter-spacing:0.7em;
	margin-bottom: 60px;
	font-weight: 900;
}
h3
{
	letter-spacing:0.5em;
	margin:10px 0px;
	font-weight: 900;
	font-size:16px;	
}

#main_section .h3_border
{
	text-align: center;
	width: 190px;
	border:2px solid lightgray;
	padding:8px 20px;
	margin: 30px 0px;		
}

p
{
	font-style:italic;
}

#expertise p
{
	font-style: normal;
	line-height: 1.5em;
	font-family: Georgia; 
	transform: scaleX(0.9);
	transform-origin: 0 0;
}

.only_for_styling, span.job_position
{
	font-style: normal;
	line-height: 2.5em;
	font-family: Georgia; 
	-ms-transform: scaleX(0.7);
	-webkit-transform: scaleX(0.7);
	transform: scaleX(0.7);
	transform-origin: 0 0;
}

nav p
{
	font-size:11px;
	font-weight: bold;
	line-height: 1.5em;
}
#about_me
{
	color:gray;
	line-height: 1.5em;
	-ms-transform: scaleY(1.1);
	-webkit-transform: scaleY(1.1);
	transform: scaleY(1.1);
	transform-origin: 0 0;
	
}
div#expertise
{
	position:absolute;
	bottom:10px;
	
}

.mini_picture
{
	width:30px;
	height:30px;
	vertical-align: bottom;
}
.only_for_styling
{
	margin-bottom:-20px;
}